.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamesListItem:hover {
  background-color: #c90003 !important;
}
.blockedFileListItem:hover {
  opacity: 1 !important;
  background-color: #c90003 !important;
}

.blockedFileAddButton:hover {
  background-color: #383838 !important;
}

.button {
  cursor: pointer;
}
